<style>
  /* Crvena boja: #e74c3c */
  button {
    background-color: #3498db;
    color: #ecf0f1;
    border: none;
    border-radius: 7px;
    padding: 10px;
  }
</style>
<!-- Potrebno je: sva dugmad sa tekstom "Crveno dugme" obojiti u crveno -->
<button>Crveno dugme</button>
<!-- Ovom dugmetu ne treba dirati stil (treba biti plavo) -->
<button>Obicno dugme</button>
<button>Crveno dugme</button>
<!--
  Ovo dugme treba biti odaljeno i od prethodnog i od
  sljedeceg dugmeta preko ID-a (stil modifikovati preko
  margina)
-->
<button>Posebno dugme</button>
<button>Crveno dugme</button>